.about-us {
  @extend %section;
  // &__container {
  //   @extend %container;
  // }
}

.about-us__list {
  @extend %list;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about-us__item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 120px;
  width: 450px;
  max-width: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.icon-satellite::before {
  background-image: url(../images/satellite.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

@media screen and (min-width: 1200px) {
  .about-us__item:not(:last-child) {
    margin-right: 30px;
  }
}

.about-us__title {
  margin-bottom: 10px;
  font-style: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.about-us__text {
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  line-height: calc(24 / 14);
  color: $description-text;
}
