.client {
  @extend %section;
}

.client__container {
  @extend %container;
}

.client__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.client__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.client__item {
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  background-color: $secondary-title-color;
  @include transition(fill, background-color);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }
}

.client__link:hover,
.client__link:focus {
  border: 1px solid;
  border-color: $link-active;
  fill: $link-decoration-color;
  background-color: $secondary-title-color;
}
