.header {
  border-bottom: 1px solid;
  border-color: $header-bottom-color;
}

.header__container {
  @extend %container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #000000;
  text-decoration: none;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.web-logo {
  color: $web-logo-color;
}

.nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  position: relative;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $secondary-btn-color;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  @include transition(color);
}

.nav__link--current {
  color: $link-active;
}

.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background-color: $link-decoration-color;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  color: $link-active;
}

.contacts__list {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    list-style: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    padding: 0;
  }
}

.contacts__item {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.contacts__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}
.contacts__link {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: $description-text;
  @include transition(color);
}

.contacts__icon {
  margin-right: 10px;
  fill: $description-text;
}

.contacts__link:hover,
.contacts__link:focus {
  color: $link-decoration-color;
  fill: $link-decoration-color;
}
