.portfolio__section {
  @extend %section;
}

.portfolio__container {
  @extend %container;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__list {
  @extend %list;
  display: flex;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter__item:not(:last-child) {
    margin-right: 10px;
  }
}
