:root {
  --body-color: #212121;
  --main-title-color: #ffffff;
  --bg-color: #c4c4c4;
  --footer-bg-color: #2f303a;
  --hero-btn-color: #ffffff;
  --secondary-title-color: #ffffff;
  --secondary-btn-color: #212121;
  --secondary-btn-back-color: #f5f4fa;
  --link-decoration-color: #2196f3;
  --web-logo-color: #2196f3;
  --description-text: #757575;
  --link-active: #188ce8;
  --header-bottom-color: #ececec;
  --btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --portfolio-border-color: #eeeeee;
  --footer-icon-color: #ffffff;
  --indent: 30px;
  --items: 3;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--body-color);
}

/*----------------------reset----------------------*/

.projects__list,
.nav,
.nav__list,
.footer__list,
.contacts__list,
.filter__list,
.about-us__list,
.cases__list,
.team__list,
.client__list,
.socials__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------------------HEADER----------------------*/
.header {
  border-bottom: 1px solid;
  border-color: var(--header-bottom-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #000000;
  text-decoration: none;
}

.web-logo {
  color: var(--web-logo-color);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  position: relative;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--secondary-btn-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current {
  color: var(--link-active);
}

.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background-color: var(--link-decoration-color);
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  color: var(--link-active);
}

.contacts__list {
  display: flex;
  margin-left: auto;
  padding: 0;
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--description-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  margin-right: 10px;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--link-decoration-color);
  fill: var(--link-decoration-color);
}

/*----------------------Main-----------------*/
/* Hero */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-color);
}
.hero__title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--main-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;

  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  font-weight: 700;
  min-width: 215px;

  color: var(--hero-btn-color);
  background-color: var(--link-decoration-color);
  box-shadow: var(--btn-box-shadow);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* About us */

.about-us__list {
  display: flex;
}

.about-us__item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.icon-satellite::before {
  background-image: url(../images/satellite.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.about-us__item:not(:last-child) {
  margin-right: 30px;
}

.about-us__title {
  margin-bottom: 10px;
  font-style: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

.about-us__text {
  width: 270px;
  line-height: calc(24 / 14);
  color: var(--description-text);
}

/* Cases */

.cases {
  display: flex;
  padding-top: 0;
}

.cases__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.cases__item {
  position: relative;
}

.cases__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
}

.cases__thumb-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

/* Team */

.team {
  display: flex;
  background-color: var(--secondary-btn-back-color);
}

.team__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.card__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item {
  background-color: var(--main-title-color);
  --items: 4;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.team__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--description-text);
}

/* Clients */

.client__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}
.client__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  background-color: var(--secondary-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
  border: 1px solid;
  border-color: var(--link-active);
  fill: var(--link-decoration-color);
  background-color: var(--secondary-title-color);
}

/* Socials links */

.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  fill: var(--secondary-title-color);
  background-color: var(--link-decoration-color);
}

/* Buttons */

.hero__button:hover,
.hero__button:focus,
.hero__button:active {
  color: var(--hero-btn-color);
  background-color: var(--link-active);
  box-shadow: var(--btn-box-shadow);
  border-radius: 4px;
  border-color: transparent;
}

.filter__btn {
  padding: 6px 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-btn-color);
  background-color: var(--secondary-btn-back-color);
  border-radius: 4px;
  border-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover,
.filter__btn:focus {
  color: var(--hero-btn-color);
  background-color: var(--link-decoration-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* Portfolio */
/* Portfolio menu */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__list {
  display: flex;
}
.filter__item:not(:last-child) {
  margin-right: 10px;
}

/* ----------------------Gallery----------------- */

.projects__item {
  background: var(--secondary-title-color);
}

.projects__link {
  display: block;
  text-decoration: none;
}

.projects__link:hover,
.projects__link:focus {
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  backdrop-filter: blur(2px);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.overlay__text {
  width: 322px;
  height: 168px;
  text-align: left;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
}
.projects__item:hover .overlay,
.projects__item:focus .overlay {
  transform: translateY(0);
}

.card__description {
  padding: 20px 24px;
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
  border-left: 1px solid var(--portfolio-border-color);
}

.card__title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--body-color);
}
.card__text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--description-text);
}

/* Card set start*/

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item {
  flex-basis: calc(
    (100% - var(--indent) * (var(--items) - 1)) / (var(--items))
  );
}

/* Card set end */

/*----------------------Footer-----------------*/

.footer {
  padding: 60px 0px;
  background-color: var(--footer-bg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__contacts {
  margin-right: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--main-title-color);
  text-decoration: none;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__adress {
  font-style: normal;
  font-weight: 400;
  line-height: calc(24 / 14);
  color: var(--main-title-color);

  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail,
.footer__tel {
  font-style: normal;
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__adress:hover,
.footer__adress:focus,
.footer__mail:hover,
.footer__mail:focus,
.footer__tel:hover,
.footer__tel:focus {
  color: var(--web-logo-color);
}

.subscription__text,
.connection__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.connection__container .socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--footer-icon-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection__container .socials__icon {
  fill: var(--footer-icon-color);
}

.subscription__container {
  display: block;
  margin-left: auto;
}
.subscription__form {
  display: flex;
}

.subscription__field {
  width: 360px;
  height: 50px;
  margin-right: 12px;
  padding: 0 16px;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscription__fieldn:hover,
.subscription__field:focus {
  color: #eeeeee;
}

.subscription__bnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: #ffffff;
  background: var(--link-decoration-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(33, 150, 243, 1);
}

.subscription__bnt:hover,
.subscription__bnt:focus {
  color: var(--hero-btn-color);
  background-color: var(--link-active);
  box-shadow: var(--btn-box-shadow);
  outline: 1px solid var(--link-decoration-color);
}

.subscription__icon {
  margin-left: 10px;
  fill: #ffffff;
}

/* -------------------- Modal window --------------------  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);

  transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 530px;
  height: 580px;

  padding: 40px;
  background-color: #fff;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));

  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__group {
  margin-bottom: 20px;
}
.close__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close__btn:hover,
.close__btn:focus {
  fill: var(--link-decoration-color);
}

.form__wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form__field {
  width: 100%;
  height: 40px;
  padding-left: 30px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:hover + .form__icon,
.form__field:focus + .form__icon {
  fill: var(--link-decoration-color);
}

.form__field:hover,
.form__field:focus,
.form__comment:hover,
.form__comment:focus {
  border: 1px solid var(--link-decoration-color);
}

.modal__title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: #757575;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment {
  display: block;
  width: 100%;
  height: 140px;

  padding: 16px 20px;
  font-size: 14px;

  border-radius: 4px;
  border: 1px solid #9da4bd;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  resize: none;
}

.agreement__checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.form__agreement {
  margin-bottom: 30px;
}

.agreement__label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
}

.agreement__link {
  color: var(--link-decoration-color);
}

.submit__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: #ffffff;
  background: var(--link-decoration-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit__btn:hover,
.submit__btn:focus {
  background-color: #188ce8;
}
